@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

.circle__animation {
    animation: circleAnimation 1500ms infinite;
}

@keyframes circleAnimation {
    0% {
        box-shadow: #ffffff31 0 0 0 0;
    }
    100% {
        box-shadow: #ffffff0e 0 0 0 16px;
    }
}

.swiper-pagination-bullet {
    @apply bg-[#993399] z-20
}

.swiper-pagination {
    @apply cursor-default
}